@using OnlineAssessment.Resources

@{
    ViewData["Title"] = ViewBag.Title;
}
@section featured
    {
    <section class="featured" id="contactWithSymptoms">
        <div class="row m-t-md m-b-md">
            <div class="col-md-8">
                <h1>@StringResource.ContactWithSymptoms_PageTitle</h1>
            </div>
        </div>
        <div class="row m-b-md m-t-md">
            <div class="col-md-8">
                <h2>@StringResource.ContactWithSymptoms_H2</h2>
            </div>
        </div>
        <div class="row m-t-md">
            <div class="col-md-8">
                <a id="contactYes" class="btn btn-secondary btn-lg centered mr-4" href="@Url.Action("SymptomsWithoutTravel", "Home")">@StringResource.Btn_Yes</a>
                <a id="contactNo" class="btn btn-secondary btn-lg centered ml-4" href="@Url.Action("NoCallTo811", "Home")">@StringResource.Btn_No</a>
            </div>
        </div>
    </section>
}
